#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
   input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
   input-processors = <&zip_xy_scaler 2 1>;
   };


 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    zHomeMod: zHomeMod {
        compatible = "zmk,behavior-hold-tap";
        label = "ZHOMEMOD";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        quick-tap-ms = <200>;
        flavor = "tap-preferred";
        require-prior-idle-ms = <130>;
    };

    zHomeLayer: zHomeLayer {
        compatible = "zmk,behavior-hold-tap";
        label = "ZHOMELAYER";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <250>;
        quick-tap-ms = <200>;
        flavor = "tap-preferred";
        require-prior-idle-ms = <130>;
    };

    yOutput: yOutput {
        compatible = "zmk,behavior-tap-dance";
        label = "YOUTPUT";
        #binding-cells = <0>;
        tapping-term-ms = <300>;
        bindings = <&out OUT_BLE>, <&out OUT_USB>;
    };

    zFastLayer: zFastLayer {
        compatible = "zmk,behavior-hold-tap";
        label = "ZFASTLAYER";
        bindings = <&mo>, <&kp>;

        #binding-cells = <2>;
        hold-while-undecided;
        tapping-term-ms = <200>;
    };

    yPower: yPower {
        compatible = "zmk,behavior-tap-dance";
        label = "YPOWER";
        #binding-cells = <0>;
        bindings = <&ext_power EP_ON>, <&ext_power EP_OFF>;

        tapping-term-ms = <300>;
    };

    yBtClear: yBtClear {
        compatible = "zmk,behavior-tap-dance";
        label = "YBTCLEAR";
        #binding-cells = <0>;
        tapping-term-ms = <300>;
        bindings = <&none>, <&none>, <&bt BT_CLR>;
    };

    zFast_Mod: zFast_Mod {
        compatible = "zmk,behavior-hold-tap";
        label = "ZFAST_MOD";
        bindings = <&kp>, <&kp>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
        hold-while-undecided;
    };

    yOff: yOff {
        compatible = "zmk,behavior-tap-dance";
        label = "YOFF";
        #binding-cells = <0>;
        bindings = <&kp LG(L)>, <&soft_off>;

        tapping-term-ms = <300>;
    };

    yBacklight: yBacklight {
        compatible = "zmk,behavior-tap-dance";
        label = "YBACKLIGHT";
        #binding-cells = <0>;
        bindings = <&bl BL_ON>, <&bl BL_OFF>;
    };

    yColour: yColour {
        compatible = "zmk,behavior-tap-dance";
        label = "YCOLOUR";
        #binding-cells = <0>;
        tapping-term-ms = <300>;
        bindings =
            <&rgb_ug RGB_COLOR_HSB(0,0,58)>,
            <&rgb_ug RGB_COLOR_HSB(269,87,84)>,
            <&rgb_ug RGB_COLOR_HSB(173,36,27)>;
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        colemak {
            display-name = "col";
            bindings = <
&kp TAB                        &kp Q  &kp W  &kp F                    &kp P      &kp G                                          &kp LA(UP)                   &kp J              &kp L                        &kp U                    &kp Y    &kp SEMI  &kp BSPC
&zFast_Mod LCTRL ESCAPE        &kp A  &kp R  &kp S                    &kp T      &kp D                            &kp LA(LEFT)  &none         &kp LA(RIGHT)  &kp H              &kp N                        &kp E                    &kp I    &kp O     &kp SQT
&zFast_Mod LEFT_ALT BACKSLASH  &kp Z  &kp X  &kp C                    &kp V      &kp B              &kp C_PLAY                  &kp LA(DOWN)                 &kp K              &kp M                        &kp COMMA                &kp DOT  &kp FSLH  &zFastLayer 6 MINUS
                                             &zFast_Mod LEFT_GUI F13  &kp SPACE  &zFastLayer 5 ESC                                                           &zFastLayer 2 F13  &zFast_Mod LEFT_SHIFT ENTER  &zFastLayer 3 BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        Symbol {
            bindings = <
&kp TAB    &none      &none     &none        &kp EXCLAMATION  &kp TILDE                           &kp UP               &kp UNDERSCORE     &kp LEFT_PARENTHESIS         &kp RIGHT_PARENTHESIS  &kp PLUS       &none      &kp BACKSPACE
&kp RCTRL  &kp CARET  &kp HASH  &kp PERCENT  &kp DOLLAR       &kp GRAVE                 &kp LEFT  &none     &kp RIGHT  &kp MINUS          &kp LEFT_BRACE               &kp RIGHT_BRACE        &kp ASTERISK   &kp EQUAL  &kp ENTER
&none      &kp BSLH   &none     &none        &none            &kp AT_SIGN  &kp LSHFT              &kp DOWN             &none              &kp LBKT                     &kp RBKT               &kp AMPERSAND  &none      &zFastLayer 6 MINUS
                                &none        &none            &none                                                    &zFastLayer 2 F13  &zFast_Mod LEFT_SHIFT SPACE  &none
            >;
        };

        Navigation {
            display-name = "n\";

            bindings = <
&kp TAB                         &kp COMMA  &kp N1  &kp N2             &kp N3                       &none                             &kp LA(UP_ARROW)                 &none  &kp HOME          &kp PAGE_DOWN            &kp PAGE_UP       &kp END          &kp BACKSPACE
&zFast_Mod LEFT_CONTROL ESCAPE  &kp N0     &kp N4  &kp N5             &kp N6                       &none               &kp LA(LEFT)  &none             &kp LA(RIGHT)  &none  &kp LEFT          &kp DOWN                 &kp UP            &kp RIGHT        &kp ENTER
&kp LEFT_ALT                    &kp DOT    &kp N7  &kp N8             &kp N9                       &none      &none                  &kp LA(DOWN)                     &none  &msc MOVE_X(-10)  &msc MOVE_Y(10)          &msc MOVE_Y(-10)  &msc MOVE_X(10)  &zFastLayer 6 MINUS
                                                   &zFastLayer 3 F13  &zFast_Mod LEFT_SHIFT SPACE  &kp SPACE                                                          &none  &none             &zFastLayer 3 BACKSPACE
            >;

            label = "num";
            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN>;
        };

        Quick {
            display-name = "ql";
            bindings = <
&kp TAB  &none      &none      &none              &none      &none                  &none         &none  &none     &none     &none      &none      &kp DELETE
&none    &kp LCTRL  &kp LSHFT  &kp LALT           &kp LGUI   &none           &none  &none  &none  &none  &kp LGUI  &kp LALT  &kp LSHFT  &kp LCTRL  &kp ENTER
&none    &none      &none      &none              &kp TAB    &none  &none           &none         &none  &none     &none     &none      &none      &zFastLayer 6 MINUS
                               &zFastLayer 4 F13  &kp SPACE  &none                                &none  &none     &none
            >;
        };

        FKeys {
            display-name = "fky";
            bindings = <
&kp TAB                         &kp F11  &kp F1  &kp F2  &kp F3  &none                         &kp LA(UP)                   &none  &none  &none  &none  &none  &none
&zFast_Mod LEFT_CONTROL ESCAPE  &kp F10  &kp F4  &kp F5  &kp F6  &none           &kp LA(LEFT)  &none         &kp LA(RIGHT)  &none  &none  &none  &none  &none  &none
&kp LEFT_SHIFT                  &kp F12  &kp F7  &kp F8  &kp F9  &none  &none                  &kp LA(DOWN)                 &none  &none  &none  &none  &none  &zFastLayer 6 MINUS
                                                 &none   &none   &none                                                      &none  &none  &none
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        NumSym {
            label = "num";
            display-name = "i";
            bindings = <
&kp TAB                         &kp COMMA  &kp N1  &kp N2  &kp N3                       &none                         &kp LA(UP_ARROW)                 &kp EXCLAMATION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none          &kp SEMI   &kp BACKSPACE
&zFast_Mod LEFT_CONTROL ESCAPE  &kp N0     &kp N4  &kp N5  &kp N6                       &none           &kp LA(LEFT)  &none             &kp LA(RIGHT)  &kp CARET        &kp PLUS              &kp STAR               &none          &kp EQUAL  &kp ENTER
&kp LEFT_SHIFT                  &kp DOT    &kp N7  &kp N8  &kp N9                       &none  &none                  &kp LA(DOWN)                     &kp UNDERSCORE   &kp MINUS             &kp FSLH               &kp AMPERSAND  &none      &zFastLayer 6 LC(MINUS)
                                                   &none   &zFast_Mod LEFT_SHIFT SPACE  &none                                                          &none            &none                 &none
            >;

            sensor-bindings = <&inc_dec_kp UP_ARROW DOWN>;
        };

        Function {
            display-name = "fn";
            bindings = <
&bt BT_SEL 0  &none  &none  &none  &none  &bt BT_SEL 3                                      &rgb_ug RGB_SAI                   &none            &none            &none            &none            &none            &yBtClear
&bt BT_SEL 1  &to 0  &none  &none  &none  &bt BT_SEL 4                     &rgb_ug RGB_HUD  &yColour         &rgb_ug RGB_HUI  &yBacklight      &none            &bl BL_INC       &bl BL_DEC       &none            &none
&bt BT_SEL 2  &none  &none  &none  &none  &yOutput      &rgb_ug RGB_TOG                     &rgb_ug RGB_SAD                   &rgb_ug RGB_BRI  &rgb_ug RGB_EFR  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &mo 6
                            &none  &none  &none                                                                               &none            &none            &none
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };
    };
};
